@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Training Calculator</h1>

<div>
    <label for="hours">Number of Hours:</label>
    <input type="number" id="hours" min="0">
</div>

<div>
    <label>Hourly Rate:</label>
    <input type="number" id="hourlyRate" value="50" readonly>
</div>

<div>
    <button onclick="CalculateRate()"></button>
</div>

<div>
    <label>Total:</label>
    <p id="total"></p>
</div>

<div>
    <a href="@Url.Action("Index", "Home")">Back to Home</a>
</div>

